// ASSET PATHS
$font-assetpath:"/chloefrommer/assets/fonts/";
$img-assetpath:"/chloefrommer/assets/img/";
// COLORS
$primary:black;
$secondary:blue;
$tertiary:red;

$dark-grey:rgb(51,51,51);
$grey:rgb(102,102,102);
$light-grey:#eeeeee;
$magenta:rgb(242,36,89);
$lime:rgb(190,239,0);
$peach:rgb(242,174,78);
$aqua:rgb(28,225,175);
$tangelo:rgb(242,75,45);

// TYPOGRAPHY
$base-font-family:"NewsNumberFourteenW00";
$heading-font-family:"NewsNumberFourteenW00";

$secondary-font-family:"CA Texteron W01 Bold";
// SIZES
$base-font-size:1em;

$font-small:0.7em;
$font-medium:1.2em;
$font-large:1.7em;
$font-xlarge:2em;

$base-line-height:1.8em; // 1.5em default
$heading-line-height:1.6em;

// COLORS
$base-font-color:black;
$heading-font-color:black;

// SPACING
$base-spacing:2.7em;
$medium-spacing:$base-spacing/2;
$small-spacing:$base-spacing/4;
$smallest-spacing:$base-spacing/6;


// MARGINS
$base-margin:2.5em;

// MEDIA QUERIES
$res-collection:           (320, 480, 768, 1024, 1280, 1680);
$orientation-collection:   (all, portrait, landscape);
