//
//
// MEDIA QUERIES
//
$res-collection:                      (320, 480, 768, 1024, 1280, 1680);
$orientation-collection:              (all, portrait, landscape);
//
//
// TYPOGRAPHY
//
// Families
$font-family:                         "franklin-gothic";
$heading-font-family:                 "franklin-gothic";
$secondary-font-family:               "franklin-gothic", helvetica;
// Sizes
$font-size:                           1em;

$font-xsmall:                         0.8em;
$font-small:                          1.0em;
$font-medium:                         1.2em;
$font-large:                          1.7em;
$font-xlarge:                         2em;
// Weights
$font-light:                          100;
$font-bold:                           800;
// Line Height
$base-line-height:                    1.5em; // 1.5em default
$heading-line-height:                 1.6em;
//
//
// SPACING
//
$spacing-base:                        2.7em;
$spacing-xlarge:                      $spacing-base*2;
$spacing-large:                       1.7em;
$spacing-medium:                      $spacing-base/2;
$spacing-small:                       $spacing-base/4;
$spacing-xsmall:                      $spacing-base/10;
//
//
// COLORS
//
$black:                               rgb(0,0,0);
$dark-grey:                           rgb(65,65,65);
$grey:                                rgb(120,120,120);
$light-grey:                          rgb(200,200,200);
$yellow:                              yellow;
$blue:                                rgb(102,102,102);

$primary:                             $black;
$secondary:                           white;
$tertiary:                            $light-grey;

$font-color:                          $primary;
$heading-font-color:                  $font-color;
$background-color:                    white;
// FORM COLORS
$placeholder-color:                   $dark-grey;
//
//
// ASSETS
//
$font-assetpath:                      "/assets/fonts/";
$img-assetpath:                       "/images/";