---
layout: default
---
<div class="welcome">
  <h3>Why is this site look like it was made in 1989? <a href="{% post_url 2015-04-27-unknown-truths %}">Unknown Truths</a>.</h3> 
</div>
<div class="home">
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h2 post-title">{{ post.title }}</h3></a>
        {% if post.feature-image %}
        <div class="feature-image">
          <img src="{{ "/images/" | prepend: site.baseurl }}{{ post.feature-image }}" alt="{{ post.feature-alt }}">
        </div>
        {% endif %}
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
</div>