<header class="masthead">
  <nav class="navigation">
    <ul>
      <li>
        <h1 class="logo">
          <a href="{{ "/" | prepend: site.baseurl }}" class="{% if page.permalink != inactive %}inactive{% endif %}">
            {{ site.title }} /
          </a>
        </h1>
      </li>
      {% for link_hash in site.data.navigation.main_navigation %}
      {% assign link = link_hash[1] %}
      {% capture inactive %}{{ link.url | handle }}{% endcapture %}
        <li><a href="{{ link.url | prepend: site.baseurl }}" class="{% if page.permalink != inactive %}inactive{% endif %}">{{ link.text }} /</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="subtitle">
    {{ site.subtitle }}
  </div>
</header>