---
---
// PLUGINS
@import           'bourbon/bourbon';
@import           'jeet/index';
@import           'base/mediaqueries';
// MIXINS
@import           'mixins/mixins';
// EXTEND
@import           'extend/placeholders';
// SETTINGS
@import           'settings/variables';

.project-feature-image {
  @include col(1/1);
  @include background-image("/flatsound/flatsound-cd-front.png");
  background-position:center;
  height:700px;
  // iPhone 6 Plus down, and iPhone 4 Lanscape down
  @include max-screen(nth($res-collection, 2)*1px) {
    background-size:98%;
    height:270px;
  }
}
.flatsound-cd-exterior {
  @include col(1/1);
  @include background-image("/flatsound/flatsound-cd-exterior.png");
  background-position:left;
  height:500px;
  // iPhone 6 Plus down, and iPhone 4 Lanscape down
  @include max-screen(nth($res-collection, 2)*1px) {
    background-size:270%;
    height:300px;
  }
}
.flatsound-cd-exterior-small-screen {
  display:none;
  // iPhone 6 Plus down, and iPhone 4 Lanscape down
  @include max-screen(nth($res-collection, 2)*1px) {
    display:block;
    @include col(1/1);
    @include background-image("/flatsound/flatsound-cd-exterior.png");
    background-position:center;
    background-size:270%;
    height:300px;
  }
}
.flatsound-cd-back {
  @include col(1/2);
  @include shift(1/2);
  @include background-image("/flatsound/flatsound-cd-back.png");
  background-position:center;
  height:650px;
  // iPhone 6 Plus down, and iPhone 4 Lanscape down
  @include max-screen(nth($res-collection, 2)*1px) {
    @include col(1/1);
    @include unshift();
    background-size:98%;
    height:350px;
  }
}
.flatsound-cd-interior {
  @include col(1/1);
  @include background-image("/flatsound/flatsound-cd-interior.png");
  background-position:right;
  height:600px;
  // iPhone 6 Plus down, and iPhone 4 Lanscape down
  @include max-screen(nth($res-collection, 2)*1px) {
    background-size:270%;
    height:300px;
  }
}
.flatsound-cd-interior-small-screen {
  display:none;
  // iPhone 6 Plus down, and iPhone 4 Lanscape down
  @include max-screen(nth($res-collection, 2)*1px) {
    display:block;
    @include col(1/1);
    @include background-image("/flatsound/flatsound-cd-interior.png");
    background-position:left;
    background-size:270%;
    height:300px;
  }
}