---
---
// PLUGINS
@import           'bourbon/bourbon';
@import           'jeet/index';
@import           'base/mediaqueries';
// MIXINS
@import           'mixins/mixins';
// EXTEND
@import           'extend/placeholders';
// SETTINGS
@import           'settings/variables';

.project-feature-image {
  @include col(1/1);
  @include background-image("/flatsound/flatsound-vinyl-i-clung-to-you.png");
  background-position:left;
  background-size:125%;
  height:325px;
  // iPhone 6 Plus down, and iPhone 4 Lanscape down
  @include min-screen(nth($res-collection, 2)*1px) {
    background-position:center;
    background-size:auto;
    height:850px;
  }
}
.flatsound-vinyl-side-a {
  @include background-image("/flatsound/flatsound-vinyl-side-a.png");
}
.flatsound-vinyl-side-b {
  @include background-image("/flatsound/flatsound-vinyl-side-b.png");
}
.flatsound-vinyl-side-c {
  @include background-image("/flatsound/flatsound-vinyl-side-c.png");
}
.flatsound-vinyl-side-d {
  @include background-image("/flatsound/flatsound-vinyl-side-d.png");
}
.flatsound-vinyl-back {
  @include col(1/1);
  @include background-image("/flatsound/flatsound-vinyl-back.png");
  background-position:right;
  background-size:135%;
  height:350px;
  // iPhone 6 Plus down, and iPhone 4 Lanscape down
  @include min-screen(nth($res-collection, 2)*1px) {
    background-size:auto;
    height:1000px;
  }
}
.flatsound-vinyl-interior {
  @include col(1/1);
  @include background-image("/flatsound/flatsound-vinyl-interior.png");
  background-position:right;
  background-size:185%;
  height:350px;
  // iPhone 6 Plus down, and iPhone 4 Lanscape down
  @include min-screen(nth($res-collection, 2)*1px) {
    background-size:auto;
    height:750px;
  }
}
.flatsound-vinyl-interior-small-screen {
  @include col(1/1);
  @include background-image("/flatsound/flatsound-vinyl-interior.png");
  background-position:left;
  background-size:185%;
  height:350px;
  // iPhone 6 Plus down, and iPhone 4 Lanscape down
  @include min-screen(nth($res-collection, 2)*1px) {
    display:none;
  }
}
.flatsound-vinyl-side-a, .flatsound-vinyl-side-b, .flatsound-vinyl-side-c, .flatsound-vinyl-side-d {
  @include col(1/1);
  height:300px;
  margin-bottom:$spacing-medium;
  background-position:center;
  // iPhone 6 Plus down, and iPhone 4 Lanscape down
  @include min-screen(nth($res-collection, 2)*1px) {
    @include col(1/2, $cycle: 2);
    height:550px;
  }
}