/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

@font-face {
  font-family: "franklin-gothic";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/FranklinGothic-Book-webfont.woff") format("woff"), url("/assets/fonts/FranklinGothic-Book-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "franklin-gothic";
  font-style: italic;
  font-weight: normal;
  src: url("/assets/fonts/FranklinGothic-BookIt-webfont.woff") format("woff"), url("/assets/fonts/FranklinGothic-BookIt-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "franklin-gothic";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/FranklinGothic-Hvy-webfont.woff") format("woff"), url("/assets/fonts/FranklinGothic-Hvy-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "franklin-gothic";
  font-style: italic;
  font-weight: 800;
  src: url("/assets/fonts/FranklinGothic-HvyIt-webfont.woff") format("woff"), url("/assets/fonts/FranklinGothic-HvyIt-webfont.ttf") format("truetype"); }
a, a:visited {
  color: black; }

a:hover {
  border-top: 1px solid #c8c8c8; }

ul {
  padding: 0; }
  ul li {
    list-style-type: none; }

.light-grey {
  color: #c8c8c8; }

.light-grey-background {
  background-color: #c8c8c8; }

.yellow {
  color: yellow; }

.yellow-background {
  background-color: yellow; }

::-webkit-input-placeholder {
  color: #414141; }

:-moz-placeholder {
  color: #414141;
  opacity: 1; }

::-moz-placeholder {
  color: #414141;
  opacity: 1; }

:-ms-input-placeholder {
  color: #414141; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: black;
  font-family: "franklin-gothic";
  font-size: 1em; }

.container {
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 5.4em; }

.footer {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%; }
  .footer:last-child {
    margin-right: 0%; }

.project {
  width: 100%;
  padding: 1.7em 0; }
  .project .feature-image {
    height: 700px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center; }
  .project .project-title {
    font-size: 5em;
    line-height: 0.8em;
    margin: 0px;
    text-transform: uppercase; }
    @media screen and (max-width: 480px) {
      .project .project-title {
        font-size: 2.5em; } }
  .project .project-subtitle {
    font-size: 1.0em;
    margin: 0px; }
  .project .project-header {
    float: left;
    clear: none;
    width: 31.33333%;
    margin-left: 0%;
    margin-right: 3%; }
    .project .project-header:last-child {
      margin-right: 0%; }
  .project .project-content {
    width: 100%; }
  .project p {
    font-size: 1.7em;
    padding: 1.7em 25% 1.7em 0; }
    @media screen and (max-width: 480px) {
      .project p {
        font-size: 1.2em;
        padding: 1.35em 0.675em 1.35em 0.675em; } }
  .project .project-information {
    float: left;
    clear: none;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
    margin-top: 5.4em;
    padding: 0.675em 0 1.7em 0;
    border-top: 1px dotted #c8c8c8; }
    .project .project-information:last-child {
      margin-right: 0%; }
  .project .project-footer {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    margin: 5.4em 0; }
    .project .project-footer:last-child {
      margin-right: 0%; }
  .project .project-date {
    color: #787878; }
  .project .note {
    float: left;
    clear: none;
    width: 5.58333%;
    margin-left: 0%;
    margin-right: 3%;
    font-size: 1.0em;
    text-transform: uppercase;
    padding: 1.35em 0;
    background-color: white; }
    .project .note:last-child {
      margin-right: 0%; }

.page {
  margin-top: 5em; }

.masthead {
  width: 100%;
  margin-bottom: 5.4em; }

.navigation {
  margin: 1.35em 0;
  font-weight: 800; }
  .navigation ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none; }
  .navigation li {
    float: left;
    display: inline;
    margin: 0 0.27em 0 0; }
  .navigation h1 {
    margin: 0; }
  .navigation h1, .navigation a {
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase; }
  .navigation .inactive {
    color: #c8c8c8; }

.subtitle {
  line-height: 1.7em;
  margin: 0.675em 0; }

.footer {
  margin-top: 5.4em;
  color: #000000; }
  .footer .contact, .footer .newsletter, .footer .legal {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    padding: 1.35em 0;
    text-align: center; }
    .footer .contact:last-child, .footer .newsletter:last-child, .footer .legal:last-child {
      margin-right: 0%; }
  .footer .newsletter .email, .footer .newsletter .name {
    -webkit-appearance: none;
    height: 25px;
    width: 300px;
    color: #777;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #787878; }
  .footer .newsletter .name {
    padding-top: 0.675em; }
  .footer .newsletter .button {
    margin-top: 1.35em;
    background-color: white;
    border: 2px solid black; }
  .footer .contact .description {
    font-weight: 800; }
  .footer .legal {
    text-align: center;
    padding: 1.7em 0; }

.tag {
  padding: 0.4em 0.7em;
  color: #c8c8c8;
  font-family: "franklin-gothic", helvetica;
  background-color: white;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: capitalize;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.profile {
  background-color: black;
  color: white; }
  .profile .footer {
    color: #FFFFFF; }
    .profile .footer .button {
      margin-top: 1.35em;
      background-color: black;
      border: 2px solid white;
      color: #FFFFFF; }
  .profile .who p {
    font-size: 2em; }
  .profile a {
    color: white;
    text-decoration: none; }
  .profile .page-content {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0; }
    .profile .page-content:last-child {
      margin-right: 0%; }
    @media screen and (min-width: 480px) {
      .profile .page-content {
        float: left;
        clear: none;
        width: 61.375%;
        margin-left: 0%;
        margin-right: 3%;
        position: relative;
        left: -38.625%; }
        .profile .page-content:last-child {
          margin-right: 0%; } }
  .profile .side-note {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    position: static;
    left: 0; }
    .profile .side-note:last-child {
      margin-right: 0%; }
    @media screen and (min-width: 480px) {
      .profile .side-note {
        float: left;
        clear: none;
        width: 35.625%;
        margin-left: 0%;
        margin-right: 3%;
        position: relative;
        left: 64.375%; }
        .profile .side-note:last-child {
          margin-right: 0%; } }

.home .post {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0%;
  margin-right: 0.25%; }
  .home .post:nth-of-type(1n) {
    margin-right: 0.25%;
    float: left; }
  .home .post:nth-of-type(1n + 1) {
    clear: none; }
  .home .post:last-child {
    margin-right: 0%; }
  @media screen and (min-width: 768px) {
    .home .post {
      float: left;
      clear: none;
      width: 33.16667%;
      margin-left: 0%;
      margin-right: 0.25%;
      position: relative;
      margin-bottom: 0.25em; }
      .home .post:nth-of-type(3n) {
        margin-right: 0%;
        float: right; }
      .home .post:nth-of-type(3n + 1) {
        clear: both; } }
.home .post-header {
  position: absolute;
  margin: 0px;
  right: 0px;
  padding-left: 1.7em; }
.home .post-title {
  margin: 0px;
  padding: 6px 10px;
  font-size: 0.8em;
  text-transform: uppercase;
  color: white;
  background-color: black; }
