body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing:antialiased;
  color:$font-color;
  font-family:$font-family;
  font-size:$font-size;
}
.container {
  @include center(1440px);
  margin-bottom:$spacing-xlarge;
}

.footer {
  @include col(1/1);
}