.home {
  .feature-image {
    @include col(1/1);
    height:750px;
    background-position:center;
    background-size:30%;
    background-repeat:no-repeat;
    // Large Screens
    @include min-screen(nth($res-collection, 6)*1px) {
      height:625px;
      background-color:red;
      background-size:20%;
    }
    // iPad Landscape
    @include max-screen(nth($res-collection, 4)*1px) {
      height:625px;
      background-color:red;
      background-size:45%;
    }
    // iPhone 5 Landscape and up, iPad Portrait 
    @include max-screen(nth($res-collection, 3)*1px) {
      height:600px;
      background-color:blue;
      background-size:65%;
    }
    // iPhone 6 Plus down, and iPhone 4 Lanscape down
    @include max-screen(nth($res-collection, 2)*1px) {
      height:400px;
      background-color:yellow;
      background-size:100%;
    }
  }
}