.profile {
  p {
    font-size:2em;
  }
  a {
    color:white;
    text-decoration:none;
  }
  background-color:$primary;
  color:$secondary;
  .page-content {
    @include col(1/1);
    @include unshift();
    @include min-screen(nth($res-collection, 2)*1px) {
      @include col(5/8);
      @include shift(-3/8);
    }
  }
  .side-note {
    @include col(1/1);
    @include unshift();
    @include min-screen(nth($res-collection, 2)*1px) {
      @include col(3/8);
      @include shift(5/8);
    }
  }
}