// http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css
::-webkit-input-placeholder {
    color:$placeholder-color;
}
:-moz-placeholder {
   color:$placeholder-color;
   opacity:1;
}
::-moz-placeholder {
   color:$placeholder-color;
   opacity:1;
}
:-ms-input-placeholder {
   color:$placeholder-color;
}