// JEET reveal boxes
// @include edit();

// Wireframes
@mixin wireframes($color: black, $width: 1px, $font: helvetica) {
	border: {
		color:$color;
		width:$width;
		style:solid;
	}
}

// Image scaling for responsive
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
