body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing:antialiased;
  color:$base-font-color;
  font-family:$base-font-family;
  font-size:$base-font-size;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family:$heading-font-family;
  margin:$medium-spacing 0;
  font-weight:100;
}
h1, h2, h3, h4, h5, h6 {
  @extend .h1;
}
.h2, h2 {
  font-size:2em;
}
.h3, h3 {
  font-size:1.7em;
  margin:$small-spacing;
}
.h4, h4 {
  font-size:1em;
}
p {
  line-height:$base-line-height;
}
em, i, q {
  font-style:italic;
}
ul {
  @include nobullet;
}
ol {
  @include nobullet;
}
li {
  line-height:$base-line-height;
}
strong, b { 
  font-weight:800;
}
small {
  font-size:$font-small;
  line-height:1em;
}
