.footer {
  margin-top:$spacing-xlarge;
  color:white;
  background-color:$primary;
  a {
    color:white;
  }
  .contact, .newsletter, .legal {
    @include col(1/1);
    padding:$spacing-medium 0;
    text-align:center;
  }
  .newsletter {
    .email, .name {
      -webkit-appearance:none;
      height:25px;
      width:300px;
      color:#777;
      border:0;
      outline:0;
      background:transparent;
      border-bottom:2px solid $grey;
    }
    .name {
      padding-top:$spacing-small;
    }
    .button {
      margin-top:$spacing-medium;
      background-color:$primary;
      border:2px solid white;
    }
  }
  .contact {
    .description {
      font-weight:800;
    }
  }
  .legal {
    text-align:center;
    padding:$spacing-large 0;
  }
}