.masthead { 
  width:100%;
  margin-bottom:$spacing-xlarge;
}
.navigation {
  @include navigation-horizontal($margin: 0 $spacing-xsmall 0 0);
  margin:$spacing-medium 0;
  font-weight:$font-bold;
  h1 {
    margin:0;
  }
  h1, a {
    font-size:$font-small;
    text-decoration:none;
    text-transform:uppercase;
    
  }
  .inactive {
    color:$tertiary;
  }
}
.subtitle {
  line-height:$spacing-large;
  margin:$spacing-small 0;
}