<!doctype html>
<html>
    {% include head.html %}
    <body class="{% if page.permalink == base.url %}home{% else %}{{page.permalink | remove:'/'}}{% endif %}">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
        {% include header.html %}
        {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>
