---
layout: default
---
<div class="page">
  <div class="side-note">
    {% if page.profile-image %}
    <div class="profile-image">
      <img src="{{site.baseurl}}/{{page.profile-image}}" alt="{{page.profile-image-alt}}">
    </div>
    {% endif %}
    {% if page.url == "/profile/" %}
    <ul class="contact-information">
      <li>Portland &amp; Bend</li>
      <li>+1.541.610.8948</li>
      <li>iam@benjaminkinzer.com</li>
      <li><strong>twitter</strong> <a href="https://twitter.com/benjaminkinzer/">@benjaminkinzer</a></li>
      <li><strong>instagram</strong> <a href="https://instagram.com/benjaminkinzer/">@benjaminkinzer</a></li>
      <li><strong>github</strong> <a href="https://github.com/kungfukoala">@kungfukoala</a></li>
      <li><a href="https://www.linkedin.com/in/benjaminkinzer">LinkedIn</a></li>
      <li><small>Illustration by Soojeong Gwon</small></li>
    </ul>
    {% endif %}
  </div>
  <article class="page-content">
  {{ content }}
  </article>
</div>